<template name="Contact">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Aitia Contact
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		<div id="div_lorem" class="row">
			<div id="div_lorem1" class="col-md-4">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium molestias et laboriosam atque, reprehenderit ipsa, laborum accusamus consectetur ut quo, totam recusandae, animi temporibus dolor repudiandae iste tempore in corrupti?
			</div>
			<div id="div_lorem2" class="col-md-4">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium molestias et laboriosam atque, reprehenderit ipsa, laborum accusamus consectetur ut quo, totam recusandae, animi temporibus dolor repudiandae iste tempore in corrupti?
			</div>
			<div id="div_lorem3" class="col-md-4">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium molestias et laboriosam atque, reprehenderit ipsa, laborum accusamus consectetur ut quo, totam recusandae, animi temporibus dolor repudiandae iste tempore in corrupti?
			</div>
		</div>
	</div>
</template>

