<template name="Associates">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> AssociatesView}}
	</div>
</template>

<template name="AssociatesView">
	<div id="data_view" class="">
		<h2 id="component-title">
			Nuestros Mejores Asociados
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}			
		{{#if isFound}}
				<div>
				</div>
				{{else}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}			
	{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> AssociatesViewTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			0 socios
		</div>
		{{/if}}
	</div>
</template>

<template name="AssociatesViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="name">
					Nombre
				</th>
				<th class="th-sortable" data-sort="last_name">
					Apellido
				</th>
				<th class="th-sortable" data-sort="phone">
					Teléfono
				</th>
				<th class="th-sortable" data-sort="email">
					E-mail
				</th>
				<th class="th-sortable" data-sort="name">
					Nombre
				</th>
				<th class="th-sortable" data-sort="skills">
					Habilidades
				</th>
				<th class="th-sortable" data-sort="sex">
					Sexo
				</th>
				<th class="th-sortable" data-sort="dob">
					Fecha de Nacimiento
				</th>
				<th class="th-sortable" data-sort="phoneType">
					Tipo de teléfono
				</th>
				<th class="th-sortable" data-sort="street">
					Calle
				</th>
				<th class="th-sortable" data-sort="city">
					Ciudad
				</th>
				<th class="th-sortable" data-sort="state">
					Estado
				</th>
				<th class="th-sortable" data-sort="postcode">
					Código Postal
				</th>
				<th class="th-sortable" data-sort="accept_terms">
					¿Estas de acuerdo en asistir a una cita para una orientación?
				</th>
				<th class="th-sortable" data-sort="why_join">
					Porque estas interesado en formar parte
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> AssociatesViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="AssociatesViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{name}}
		</td>
		<td>
			{{last_name}}
		</td>
		<td>
			{{phone}}
		</td>
		<td>
			{{email}}
		</td>
		<td>
			{{name}}
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="skills" {{checked skills}}>
		</td>
		<td>
			{{sex}}
		</td>
		<td>
			{{dob}}
		</td>
		<td>
			{{phoneType}}
		</td>
		<td>
			{{street}}
		</td>
		<td>
			{{city}}
		</td>
		<td>
			{{state}}
		</td>
		<td>
			{{postcode}}
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="accept_terms" {{checked accept_terms}}>
		</td>
		<td>
			{{why_join}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
	</tr>
</template>

