<template name="HomePublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomePublicAskForHelp}}
		<div id="how_it_works" class="row">
			{{> HomePublicExampleColumn1}}{{> HomePublicExampleColumn2}}{{> HomePublicExampleColumn3}}
		</div>
	</div>
</template>

<template name="HomePublicAskForHelp">
	<div class="jumbotron ">
		<div id="content" class="container">
			<h1 id="component-title">
				Todos lo que necesitas cerca de tí
			</h1>
			<p id="jumbotron-text">
				Recibe la ayuda que necesitas en donde quiera que estes
			</p>
			<p id="jumbotron-button">
				<a href="#" class="btn btn-primary btn-lg" role="button">
					Solicita Acceso
				</a>
			</p>
		</div>
	</div>
</template>

<template name="HomePublicExampleColumn1">
	<div class="jumbotron col-md-4">
		<div id="content" class="container">
			<p id="jumbotron-text">
				Busca lo que necesitas
			</p>
		</div>
	</div>
</template>

<template name="HomePublicExampleColumn2">
	<div class="jumbotron col-md-4">
		<div id="content" class="container">
			<p id="jumbotron-text">
				Elige un ayudante
			</p>
		</div>
	</div>
</template>

<template name="HomePublicExampleColumn3">
	<div class="jumbotron col-md-4">
		<div id="content" class="container">
			<p id="jumbotron-text">
				Relájate
			</p>
		</div>
	</div>
</template>

