<template name="RegisterAs">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> RegisterAsHomeJumbotron2}}{{> RegisterAsHomeJumbotron}}
	</div>
</template>

<template name="RegisterAsHomeJumbotron2">
	<div class="jumbotron col-md-6">
		<div id="content" class="container">
			<h1 id="component-title">
				Quiero trabajar
			</h1>
			<p id="jumbotron-text">
				Trabajo para todos
			</p>
			<p id="jumbotron-button">
				<a href="#" class="btn btn-primary btn-lg" role="button">
					Asociarme
				</a>
			</p>
		</div>
	</div>
</template>

<template name="RegisterAsHomeJumbotron">
	<div class="jumbotron col-md-6">
		<div id="content" class="container">
			<h1 id="component-title">
				Necesito Apoyo
			</h1>
			<p id="jumbotron-text">
				Si necesitas que te ayuden con algo
			</p>
			<p id="jumbotron-button">
				<a href="#" class="btn btn-primary btn-lg" role="button">
					Solicitar
				</a>
			</p>
		</div>
	</div>
</template>

